*{
    margin: 0;
    padding: 0;
}
.container-md{
    margin:auto;
    padding: 50px;
}
#navCols .form-group{
    display: block;
    margin:auto
} 
.leader{
    display:flex;
    justify-content: space-between;
}
h1{
    text-align:center;
}